body{
  margin-top: 60px;
  text-align:center;
}

h1 {
  padding-bottom: 0.5rem;
}

input[type=number] {
  cursor: pointer;
}

#input-celsius{
  background-color: blanchedalmond;
  font-size: 2.5rem;
}

#input-fahrenheit{
  background-color: rgb(216, 35, 137);
  font-size: 2.5rem;
}


.form-padding {
  padding: 2rem 1rem;
}

::-webkit-input-placeholder {
  color: #FFFFFF !important;
}
::-moz-placeholder {
  color: #FFFFFF !important;
}
:-ms-input-placeholder {
  color: #FFFFFF !important;
}
:-moz-placeholder {
  color: #FFFFFF !important;
}
#convert-btn {
  margin-top: 10px;
}

.icons{
  max-width: 25px;
  height: auto;
}
